* {
	padding: 0;
	margin: 0;
	border: 0
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

:active,
:focus {
	outline: none
}

a:active,
a:focus {
	outline: none
}

aside,
footer,
header,
nav {
	display: block
}

body,
html {
	height: 100%;
	width: 100%;
	min-width: 320px;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

button,
input,
textarea {
	font-family: inherit
}

input::-ms-clear {
	display: none
}

button {
	cursor: pointer
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

a,
a:visited {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

ul li {
	list-style: none
}

img {
	vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit
}

body {
	font-family: "Roboto", sans-serif;
	background: rgba(255, 255, 255, 0.9) url(../img/123.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wraper {
	overflow: hidden;
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.toggle {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	background: #000 url(../img/burger.png);
	background-size: 45px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 0.4s;
	z-index: 1000;
}

.toggle.active {
	background: #000 url(../img/close.png);
	background-size: 35px;
	background-position: center;
	background-repeat: no-repeat;
}

section {
	padding: 100px;
	min-height: 100vh;
}

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.banner .imgSideBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.banner .imgSideBar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner .content,
.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

.banner .content h4 {
	font-size: 1.5em;
	color: #333;
	font-weight: 300;
}

.banner .content h4 span {
	color: #00bcd4;
	font-size: 1.5em;
	font-weight: 700;
}

.banner .content h2 {
	font-size: 3em;
	color: #333;
	line-height: 1em;
}

.banner .content p {
	font-size: 1.1em;
	margin: 20px 0;
	font-weight: 300;
}


.sidebar {
	position: fixed;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	padding: 40px;
	z-index: 100;
	right: -100%;
}

.sidebar.active {
	right: 0;
}

.sidebar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sidebar ul li {
	list-style: none;

}

.menu-item {
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	margin: 10px 0;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.menu-item:hover {
	color: #00bcd4;
}

.sci {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sci-title {
	font-size: 18px;
	padding-right: 16px;
}

.sci__row {
	margin-top: 20px;
	display: flex;
}

.sci li {
	list-style: none;
}

.fa-2x {
	color: #333;
	margin-right: 10px;
}

.fa:hover {
	opacity: 1;
	transform: scale(1.2);
	transition: 0.5s;
}

.fa-phone:hover {
	color: #008000;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-linkedin:hover {
	color: #0072b1;
}

.fa-google:hover {
	color: #db4a39;
}

.fa-telegram:hover {
	color: #0088cc;
}

.title {
	width: 100%;
	text-align: center;
	margin-bottom: 73px;
}

.title h2 {
	position: relative;
	color: #00bcd4;
	font-size: 1.8em;
	font-weight: 700;
	letter-spacing: 1px;
}

.title h2::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	width: 10%;
	height: 2px;
	background: #000;
}

.education .education__content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.education .education__content .education__card {
	padding: 40px 20px;
	max-width: 500px;
	margin: 20px;
	transition: 0.5s;
	text-align: center;
	background: #f5f5f5;
}

.education .education__content .education__card:hover {
	background: #000;
}

.education .education__content .education__card:hover span {
	filter: invert(1);
}

.education__title {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 23px;
	font-weight: 600;
	transition: 0.5s;
}

.fa-university {
	transition: 0.5s;
}

.education .education__content .education__card:hover h2 {
	color: #fff;
}

.education .education__content .education__card p {
	margin: 0;
	transition: 0.5s;
	font-size: 18px;
}

.education .education__content .education__card:hover p {
	color: #fff;
}

.skills {
	background: rgb(70, 70, 70);
	color: #fff;
}

.about-me__info-skills {
	margin-top: 50px;
	position: relative;
}

.about-me__info-skills__block {
	margin: 20px auto 60px;
	width: 500px;
	list-style: none;
}

.about-me__info-skills__block-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	border-bottom: 1px solid #00bcd4;
	position: relative;
	padding-bottom: 10px;
	cursor: pointer;
	transition: ease-out 0.3s;
}

.about-me__info-skills__block-item:hover {
	color: #f3f3f3;
	transform: scale(1.2);
	margin-left: 24px;
}

.about-me__info-skills__block-item:after {
	content: "";
	position: absolute;
	width: 0;
	transition: ease-out 0.3s;
	left: 0;
	bottom: -2.5px;
	border-radius: 50px;
}

.about-me__info-skills__block-item.html-css:after {
	border-bottom: 4px solid rgb(46, 0, 214);
}

.about-me__info-skills__block-item.html-css::after {
	width: 78%;
}

.about-me__info-skills__block-item.js:after {
	border-bottom: 4px solid rgb(255, 251, 0);
}

.about-me__info-skills__block-item.js::after {
	width: 50%;
}

.about-me__info-skills__block-item.git:after {
	border-bottom: 4px solid rgb(255, 123, 0);
}

.about-me__info-skills__block-item.git::after {
	width: 70%;
}

.about-me__info-skills__block-item.bem:after {
	border-bottom: 4px solid rgb(4, 255, 0);
}

.about-me__info-skills__block-item.bem::after {
	width: 80%;
}

.about-me__info-skills__block-item.scss:after {
	border-bottom: 4px solid rgb(234, 0, 255);
}

.about-me__info-skills__block-item.scss::after {
	width: 85%;
}

.about-me__info-skills__block-item.figma:after {
	border-bottom: 4px solid rgb(0, 200, 255);
}

.about-me__info-skills__block-item.figma::after {
	width: 80%;
}

.about-me__info-skills__block-item.bootstrap:after {
	border-bottom: 4px solid rgb(81, 0, 88);
}

.about-me__info-skills__block-item.bootstrap::after {
	width: 55%;
}

.about-me__info-skills__block-item.jquery:after {
	border-bottom: 4px solid rgb(30, 0, 120);
}

.about-me__info-skills__block-item.jquery::after {
	width: 50%;
}

.work .work__content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.work .work__content .work__card {
	position: relative;
	width: 265px;
	height: 265px;
	margin: 10px;
	transition: 0.5s;
	text-align: center;
}

.work .work__content .work__card .work__img,
.work .work__content .work__card .work__text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.work .work__content .work__card .work__img .portfolio__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.work .work__content .work__card .work__text {
	background-color: #000;
	opacity: 0;
	transition: 0.5s;
}

.work .work__content .work__card:hover .work__text {
	opacity: 0.9;
	cursor: pointer;
}

.work .work__content .work__card .work__text h4 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.title.white h2 {
	color: #fff;
}

.title.white p {
	color: #fff;
}

.title.white h2::before {
	background: #fff;
}

.copyright {
	color: #fff;
	background: #111;
	text-align: center;
	padding: 10px;
}


@media(max-width:991px) {
	body {
		background-size: cover;
	}

	section {
		padding: 40px;
	}

	.banner .imgSideBar {
		display: none;
	}

	.banner .content,
	.sidebar {
		width: 100%;
		padding: 40px;
	}

	.toggle {
		right: 40px;
	}

	.about-me__info-skills__block {
		width: 100%;
	}



	.contact .contact__form {
		width: 100%;
	}

	.contact__form .contact__form-row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.contact .contact__form .contact__form-row .col50 {
		width: 100%;
	}

	.sidebar ul li a {
		font-size: 1.5em;
	}
}

@media(max-width:500px) {

	section {
		padding: 30px;
	}

	.about-me__info-skills__block {
		width: 100%;
	}

	.education__img {
		max-width: 140px;
		width: 140px;
		height: 140px;
	}

	.toggle {
		right: 20px;
	}
}